.graph-left-box .graph{ 
  margin: 1em auto 1em;
  padding: 4em 1em 6em;
  display: block; position:relative; 
  width: 100%; height: 3em;

  .graph-line-box{
    position:relative;
    @extend .tight;
    height: 3em;

  }
  .legend { text-align: left;  font-style : italic; }

  .graph-line {
    height: 0.5em; width:100%;
    position: relative; display: block;
    background: $color-li-white; @include border-radius(5px);
    @extend .tight;
    float: left;

  }

  .data{ 
    position: absolute; 
    z-index: 1;

    top:-0.2em; text-align: center;
    min-height: 4em; cursor: default;
    >.dot{  
      //border: 1px solid white;
      @include border-radius(0.4em);
      width: 0.8em; height: 0.8em; display:block;
      background-color: $color-li-white;
      
    }
    >span{ display: block; color: $font-li-main2; margin-top: 0.6em;}

    >.drag{
      @include border-radius(0.8em);
      width: $graph-dot-width; 
      height: $graph-dot-width;
      background: $color-li;
      padding: 3px;
      border: 1px solid $color-dark;

      >.tip { 
        position: absolute;
        top: -2em;
      }
      >.tip.amount{
      color: $color-li; 
        font-size:1.5em; font-weight: bold;
        display: none;
      }
      >.tip.icon{ 
        left: -0.2em;
        >span {
          @extend .glyphicon;
          @extend .glyphicon-move;
          font-size: 1.5em; color: $font-li-main2;
        }
      }
    }

  }
  .dragable{
    padding: 0;
    top:-0.5em;
    z-index: 9;
    position: absolute;
    
  }
}

#graph.active{
  .tip.amount { display: block;}
  .tip.icon {display: none;}
}
#graph:not(.active){
  .tip.amount { display: none;}
  .tip.icon {display: block;}
}